[submodule "tb/tb_torture/riscv-torture"]
	path = tb/tb_torture/riscv-torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "simulator/reference/riscv-isa-sim"]
	path = simulator/reference/riscv-isa-sim
	url = git@gitlab-internal.bsc.es:hwdesign/verification/riscv-isa-sim.git
[submodule "fpga/common/rtl/axi"]
	path = fpga/common/rtl/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "fpga/common/rtl/axi_riscv_atomics"]
	path = fpga/common/rtl/axi_riscv_atomics
	url = https://github.com/pulp-platform/axi_riscv_atomics.git
[submodule "rtl/common_cells"]
	path = rtl/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "rtl/icache"]
	path = rtl/icache
	url = git@gitlab-internal.bsc.es:caos_hw/hypervision_extension/instruction_cache.git
	branch = ft/cacheline_64b
[submodule "riscv-tests"]
	path = riscv-tests
	url = git@gitlab-internal.bsc.es:hwdesign/verification/riscv-tests.git
[submodule "rtl/core/sargantana"]
	path = rtl/core/sargantana
	url = git@gitlab-internal.bsc.es:caos_hw/hypervision_extension/sargantana.git
[submodule "rtl/dcache"]
	path = rtl/dcache
	url = git@gitlab-internal.bsc.es:hwdesign/rtl/core-tile/l1_d-caches/hpdcache.git
[submodule "simulator/bsc-dm"]
	path = simulator/bsc-dm
	url = git@gitlab-internal.bsc.es:hwdesign/rtl/bsc-dm.git
